1.   Створити Series використовуючи Numpy масив з рандомних цілочисельних значень довільного розміру (більше 15). Індекси повинні починатись з числа 3.
2.   Змінити назву серії.
3.   Збільшити індекси на 4 та помножити їх на 2 (0->8, 1->10, 2->12, 3->14,...).
4.   Змінити індекс першого елементу на 1.
5.   Вивести серію в зворотному порядку (використовуючи зрізи).
6.   Вивести серію в зворотному порядку через два елементи.
7.   Кожен п'ятий елемент серії помножити на 10.
8.   Пять елементів з кінця помножити на 2.
9.   Визначити елементи, більші за моду.
10.   Замінити ці елементи довільним скаляром.
11.   Помножити на скаляр всі елементи менші або рівні за моду.
12.   Видалити елементи більші за медіану.
13.   Видалити з серії мінімальне та максимальне значення.

0. Імпорт бібліотек

In [4]:
import numpy as np
import pandas as pd

1.  Створити Series використовуючи Numpy масив з рандомних цілочисельних значень довільного розміру (більше 15). Індекси повинні починатись з числа 3.

In [7]:
s1 = pd.Series(np.random.randint(20,size=20))
s1.index += 3
s1

3      9
4      6
5     12
6      2
7      6
8     11
9     10
10     6
11     0
12     9
13     6
14    14
15     8
16     0
17    19
18    14
19     8
20     8
21     6
22    13
dtype: int64

2. Змінити назву серії.

In [12]:
s1 = s1.rename("Seria_1")
s1

100     9
132     6
164    12
196     2
228     6
260    11
292    10
324     6
356     0
388     9
420     6
452    14
484     8
516     0
548    19
580    14
612     8
644     8
676     6
708    13
Name: Seria_1, dtype: int64

3. Збільшити індекси на 4 та помножити їх на 2 (0->8, 1->10, 2->12, 3->14,...).

In [14]:
s1.index += 4
s1 = s1.rename(lambda x: x*2)

4. Змінити індекс першого елементу на 1.

In [16]:
s1 = s1.rename({1 : 1})
s1

208      9
272      6
336     12
400      2
464      6
528     11
592     10
656      6
720      0
784      9
848      6
912     14
976      8
1040     0
1104    19
1168    14
1232     8
1296     8
1360     6
1424    13
Name: Seria_1, dtype: int64

5. Вивести серію в зворотному порядку (використовуючи зрізи).

In [23]:
s1 = s1[::-1]

6. Вивести серію в зворотному порядку через два елементи.

In [24]:
s1[::2]

1424    13
1296     8
1168    14
1040     0
912     14
784      9
656      6
528     11
400      2
272      6
Name: Seria_1, dtype: int64

7. Кожен п'ятий елемент серії помножити на 10.

In [25]:
s1[4::5] = s1[2::5] * 10
s1

1424     13
1360      6
1296      8
1232      8
1168     80
1104     19
1040      0
976       8
912      14
848      80
784       9
720       0
656       6
592      10
528      60
464       6
400       2
336      12
272       6
208     120
Name: Seria_1, dtype: int64

8. Пять елементів з кінця помножити на 2.

In [39]:
s1[::4] * 2

1424    26
1168    46
912     28
656     12
400      4
Name: Seria_1, dtype: int64

9. Визначити елементи, більші за моду.

In [35]:
s1M = s1.mode()
print(s1M)
GMF = s1 > s1M
GMF

0     6
1    23
dtype: int64

10. Замінити ці елементи довільним скаляром.

In [28]:
s1[GMF] = 23
s1

1424    13
1360     6
1296     8
1232     8
1168    23
1104    19
1040     0
976      8
912     14
848     23
784      9
720      0
656      6
592     10
528     23
464      6
400      2
336     12
272      6
208     23
Name: Seria_1, dtype: int64

11. Помножити на скаляр всі елементи менші або рівні за моду.

In [45]:
s1[~GMF] *= 23
s1

1424     13
1360    138
1296    184
1232    184
1104     19
976     184
912      14
784     207
656     138
592     230
464     138
400      46
336      12
272     138
Name: Seria_1, dtype: int64

12. Видалити елементи більші за медіану.

In [42]:
s1Med = s1.median()
print(s1Med)
F = (s1 != s1Med)
print(F)
s1 = s1[F]
s1

8.5
1424    True
1360    True
1296    True
1232    True
1168    True
1104    True
1040    True
976     True
912     True
848     True
784     True
720     True
656     True
592     True
528     True
464     True
400     True
336     True
272     True
208     True
Name: Seria_1, dtype: bool

1424    13
1360     6
1296     8
1232     8
1168    23
1104    19
1040     0
976      8
912     14
848     23
784      9
720      0
656      6
592     10
528     23
464      6
400      2
336     12
272      6
208     23
Name: Seria_1, dtype: int64

13. Видалити з серії мінімальне та максимальне значення.

In [44]:
s1Min = s1.min()
s1Max = s1.max()
F = (s1 != s1Min) & (s1 != s1Max)
s1 = s1[F]
s1

1424    13
1360     6
1296     8
1232     8
1104    19
976      8
912     14
784      9
656      6
592     10
464      6
400      2
336     12
272      6
Name: Seria_1, dtype: int64